<div class="img_icontec">
  <img src="https://icontecpre.poligran.edu.co/uploads/banners/jXItKBAcgWyntclE8S2j.jpg">
</div>

<div class="txt_icontec">

  <h2>Retiro del curso</h2>
  <p>
    Estimado (a) {{params.first_name}}

    Usted ha sido des matriculado del curso de {{params.course_name}}.

    En caso de cualquier inquietud accede <a href="{{params.mailer.help_desk}}">aquí a la mesa de ayuda</a>.

    Cordialmente
    Equipo Unidad Técnica de Educación
  </p>
  <img src="{{params.mailer.footer_icon}}">
</div>
