SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

0 */6 * * * cd /app && /usr/local/bin/node /usr/local/bin/ts-node /usr/local/bin/campus_virtual_icontec_distribution --program task --task survey-notification >> /app/uploads/cron.log 2>&1
0 17 * * * cd /app && /usr/local/bin/node /usr/local/bin/ts-node /usr/local/bin/campus_virtual_icontec_distribution --program task --task certificate-preview-processor >> /app/uploads/cron.log 2>&1
*/5 * * * * cd /app && /usr/local/bin/node /usr/local/bin/ts-node /usr/local/bin/campus_virtual_icontec_distribution --program task --task document-processor >> /app/uploads/cron.log 2>&1
0 */4 * * * cd /app && /usr/local/bin/node /usr/local/bin/ts-node /usr/local/bin/campus_virtual_icontec_distribution --program task --task scheduling-information >> /app/uploads/cron.log 2>&1
0 23 * * * cd /app && /usr/local/bin/node /usr/local/bin/ts-node /usr/local/bin/campus_virtual_icontec_distribution --program task --task program-update >> /app/uploads/cron.log 2>&1
0 */1 * * * cd /app && /usr/local/bin/node /usr/local/bin/ts-node /usr/local/bin/campus_virtual_icontec_distribution --program task --task free-courses >> /app/uploads/cron.log 2>&1
0 */4 * * * cd /app && /usr/local/bin/node /usr/local/bin/ts-node /usr/local/bin/campus_virtual_icontec_distribution --program task --task transactions >> /app/uploads/cron.log 2>&1
