{{> partials/page/title title='Finalización de curso'}}
{{> partials/page/image image=params.mailer.mailer_image}}
<tr>
  <td valign="top" class="container">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;">
      <tbody>
        <tr>
          <td valign="top" style="padding-top:9px;">
            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
              <tbody>
                <tr>
                  <td valign="top" class="mcnTextContent" style="padding-top:10px; padding-right:18px; padding-bottom:9px; padding-left:18px;">
                    <p><b>Estimado(a) participante {{params.studentName}}:</b></p>&nbsp;
                    <p>Te felicitamos por haber completado tu curso {{params.courseName}}.</a></p>
                    <p class="mcSpecialText">Si tienes alguna pregunta, por favor, accede al <a href="{{params.mailer.campus_virtual}}/login">Campus Digital</a> de ICONTEC y presenta tu solicitud a través de la asistente virtual "Daniela", seleccionando la opcion 2 "mesa de ayuda estudiante" y abriendo un ticket (para conocer cómo hacerlo, <a href="{{params.mailer.help_desk}}">haz clic aquí.)</a></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
