<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
	<head>
		<!-- NAME: GDPR SUBSCRIBER ALERT -->
		<!--[if gte mso 15]>
		<xml>
			<o:OfficeDocumentSettings>
			<o:AllowPNG/>
			<o:PixelsPerInch>96</o:PixelsPerInch>
			</o:OfficeDocumentSettings>
		</xml>
		<![endif]-->
		<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>*|MC:SUBJECT|*</title>

    <style type="text/css">
		body{
			font-family: 'Roboto', sans-serif;
		}

		.contenido {
			display: flex;
			flex-direction: row;
		}

		.img_icontec{
			width: 70%;
      position: relative;
      display: flex;
      justify-content: center;
		}

    .img_icontec>p{
      font-size: 2.4rem;
      color: white;
      font-weight: 700;
      text-align: center;
      position: absolute;
      top: 25%;
      margin: 0px auto;
      width: 80%;
    }

		.img_icontec img{
			width: 95%;
      object-fit: contain;
		}

		.txt_icontec{
			width: 30%;
		}

		.txt_icontec h2{
			color: #0091d4;
			font-size: 3.0em;
      margin-bottom: 0px;
		}

		.txt_icontec p, .txt_icontec div {
			color: #0091d4;
			line-height: 1.2em;
			white-space: pre-line;
		}

		@media screen and (max-width: 600px) {
			.contenido {
				display: flex;
				flex-direction: column;
			}

			.img_icontec{
				width: 100%;
			}

      .img_icontec>p{
        font-size: 1.4rem;
      }

			.txt_icontec{
				width: 100%;
			}
		}

	</style>

  </head>
  <body>
    <div class="contenido">
      {{{body}}}
    </div>
  </body>
</html>
