name: Build and Push Docker image

on:
  push:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get the version
        id: vars
        run: echo "tag=$(echo ${GITHUB_REF#refs/heads/}:$(git rev-list --count HEAD))" >> $GITHUB_OUTPUT

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ICONTEC
        uses: azure/docker-login@v1
        with:
          login-server: '${{ secrets.ICONTEC_AZURE_REGISTRY_LOGIN_SERVER }}'
          username: '${{ secrets.ICONTEC_AZURE_REGISTRY_USERNAME }}'
          password: '${{ secrets.ICONTEC_AZURE_REGISTRY_PASSWORD }}'

      - name: Build Docker Image
        run: docker build -t repositoriopolitecnico.azurecr.io/app/backend:${{ steps.vars.outputs.tag }} -f Dockerfile .

      - name: Push Docker Image
        run: docker push repositoriopolitecnico.azurecr.io/app/backend:${{ steps.vars.outputs.tag }}

